.logo {
  @include verticalCenter;
  margin: 5px auto;
  width: 40px;
  border-radius: 10px;
  padding: 5px 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
  width: 40px;
}
.navbar-brand {
  display: inline-flex;
}
.navbar-brand h5{
  padding-left: 5px;
  padding-top: 22px ;
}

.navbar-collapse {
  padding-top: 13px;
}